

.tile-row(ng-repeat="i in number(width) track by $index", ng-class="{even: $even}")
  .tileDir(ng-repeat="j in number(height) track by $index")
   // span(style="color: #6C6; font-size: 135px;")&#x2B22