.tile {
  border: 1px solid black;
  margin: 1px;
  width: 100px;
  height: 100px;

  &.half {
    height: 50px;
  }
  //width: 200px;
}

.tileColumn {
  //width: 100px;
  display: inline;
  float: left;
}