.board {
  //width: 2000px;
  //height: 1500px;
}

canvas {
  border:0;
  display:block;
  margin:0 auto;
}

.bottomPanel {
  background-color: white;
  position: fixed;
  bottom: 0px;
  height: 100px;
  width: 100%;

}

.topPanel {
  //top: -300px;
  //height: 1200px;
}

.tile {
  float: left;
  margin-left: 3px;
  //margin-bottom: -26px;
  margin-top: 32px;
  width: 104px;
  height: 60px;
  background-color: #6C6;
  position: relative;

  &.selected {
    background-color: #FFF;
  }
  &.selected:before {
    border-bottom-color: #FFF;
  }
  &.selected:after {
    border-top-color: #FFF;
  }
}

.tile:hover {
  background-color: #FFF;
}

.tile:hover:before {
  border-bottom-color: #FFF;
}

.tile:hover:after {
  border-top-color: #FFF;
}

.tile:before {
  content: " ";
  width: 0; height: 0;
  border-bottom: 30px solid #6C6;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
  position: absolute;
  top: -30px;
}

.tile:after {
  content: "";
  width: 0;
  position: absolute;
  bottom: -30px;
  border-top: 30px solid #6C6;
  border-left: 52px solid transparent;
  border-right: 52px solid transparent;
}

.tile-row {
  clear: left;
}
.tile-row.even {
  margin-left: 53px;
}