.board {
  //width: 2000px;
  //height: 1500px;
}

.bottomPanel {
  background-color: white;
  position: fixed;
  bottom: 0px;
  height: 100px;
  width: 100%;

}

.topPanel {
  //top: -300px;
  //height: 1200px;
}


#hex-tile polygon {
  fill: #6C6;
  //stroke: gray;
  opacity: 1;
}

#hex-tile polygon:hover {
  fill:black;
}

//#hex-grid {
//  stroke: gray;
//  stroke-opacity: 1;
//  shape-rendering: crispEdges;
//}

