.leftPanel
  .board(cols="30", rows="20", size="20", padding="3", tiles="tiles")
.rightPanel
  .btn.btn-primary.btn-sm(ng-click="") Reset
  .btn.btn-primary.btn-sm(ng-click="save()") Save
  input(ng-model="name")
  .type(ng-click="type = 'water'") Water
  .type(ng-click="type = 'grass'") Grass
  .type(ng-click="type = 'hill'") Hill
  .type(ng-click="type = 'mtn'") Mtn